#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  height: 100vh;
  margin: 0;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 75vh;
  padding: 30px;
  position: relative;
  width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  & a{
    padding-left: 10px;
  }

}
.paper:before, .paper:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.paper:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.paper:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
